{{- $titles := slice .Title }}
{{/* Append paginator title. The partial must be included after paginating. */}}
{{- with .Paginator }}
  {{- if gt .PageNumber 1 }}
    {{- $titles = $titles | append (i18n "paginator_title" .) }}
  {{- end }}
{{- end }}
{{/* Append the sections titles. */}}
{{- $titles = $titles | append (partial "base/functions/sections-titles" .) }}
{{/* Append the site title at the end. */}}
{{- if not .IsHome }}
  {{- $titles = $titles | append .Site.Title }}
{{- end }}
{{- $separator := printf " %s " .Site.Params.title_separator }}
{{- delimit $titles $separator -}}
